*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    height: 100%;
    font-size: 62.5%;
    --primary-color: #1976d2;
    --primary-light-color: #63a4ff;
    --primary-dark-color: #004ba0;
    --primary-text-color: #fafafa;
}

body {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-evenly;
    min-width: 350px;
    min-height: 100%;
    padding: .2rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--primary-light-color);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 2rem;
    padding-top: 0;
}

.algolia-places {
    width: 100%;
}

#search-box {
    align-self: center;
    padding: .5rem;
    padding-right: 4rem;
    padding-left: 2rem;
    font-size: 2rem;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 10px;
}

#search-box::placeholder {
    font-style: italic;
}


#main {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    height: 75%;
}

#current-location {
    width: auto;
    padding-right: 1rem;
    padding-left: 1rem;
    color: var(--primary-text-color);
    font-weight: bolder;
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px var(--primary-dark-color);
    word-break: break-all;
    border-radius: 3px;
}

#current-weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    width: 100%;
    min-width: 100%;
    min-height: 20rem;
    padding: 2rem;
    color: var(--primary-text-color);
    font-weight: bolder;
    font-size: 2rem;
    word-break: break-all;
    background-color: var(--primary-dark-color);
    border-radius: 5px;
}

#date-and-minmax-container {
    display: flex;
    width: 100%;
}

#current-date {
    width: 50%;
    color: var(--primary-text-color);
    font-weight: bolder;
    font-size: 2rem;
    text-align: right;
}

#minmax-temperatures {
    width: 50%;
    text-align: left;
}

#maximum {
    color: #e53935;
}

#minimum {
    color: #bdbdbd;
    font-size: 1.7rem;
}

/* Current Weather Icon from https://erikflowers.github.io/weather-icons/ */
.wi {
    padding-top: 3rem;
    color: var(--primary-text-color);
    font-size: 12rem;
}

#current-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 4rem;
}

#current-temperature {
    color: var(--primary-light-color);
    font-size: 5rem;
    text-shadow: 1px 1px var(--primary-text-color);
}

#current-description {
    padding-top: 1rem;
    font-style: italic;
    text-transform: capitalize;
}

#forecast-weather {
    display: flex;
    width: 100%;
    margin-top: 1rem;
    border: var(--primary-text-color) solid 2px;
    border-radius: 3px;
}

.forecast-days {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--primary-light-color);
    font-weight: bold;
    font-size: 1.6rem;
    text-align: center;
    background-color: var(--primary-dark-color);
}

.forecast-days:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.forecast-days:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.forecast-days-icon {
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--primary-text-color);
    font-size: 3rem;
}

#loader-container {
    margin: 5rem auto;
    text-align: center;
}

#loader-container  img {
    width: 10rem;
    height: 10rem;
    transform-origin: 50% 50%;
    animation: rotate 5s infinite linear;
}

/* Rainbow and Sun Icons*/
.permanent-icons {
    display: none;
    width: 10rem;
    height: 10rem;
    transform-origin: 50% 50%;
    animation: rotate 50s infinite linear;
}

/* Sun Icon */
.permanent-icons:nth-of-type(1) {
    margin-right: 10%;
}

/* Rainbow Icon */
.permanent-icons:nth-of-type(2) {
    margin-left: 10%;
}

#error-icon {
    width: 8rem;
    animation: rotate 5s infinite linear;
}

/* Icons Animation */
@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Media Queries */

@media (min-width: 640px) {
    body {
        padding: 5rem 2rem;
    }
    header {
        padding-bottom: 5rem;
    }
    .algolia-places {
        width: 50vw;
    }
    #main {
        width: auto;
    }
    #current-location {
        padding: 2rem;
        font-size: 6rem;
    }
    .forecast-days {
        font-size: 2.5rem;
    }
    .forecast-days-icon {
        font-size: 4rem;
    }
    .permanent-icons {
        display: block;
    }
}
